PIXELSPERMM 81.1
VERBOSITY 2
GRIDNAME TG37
RWEIGHT 0.3
GWEIGHT 0.59
BWEIGHT 0.11
FFTNEGTHRESH -5000
FFTPOSTHRESH 5000
SHFBRIGHTTHRESH 4000000  //Remember that i changed RunSweep to make this absolute value...
SHFFIDUCIALFROMWALL 0
DBMINPTS 3
DBEPSILON 3.0
DUPLICATECLUSTDIST 1.5
DEBUGPLOTSFILENAME /Users/ryanlinehan/LZ_Local_Work/Grids/TestMicroscopePix/UV/AstroPakGrid2Top_FullUVScanNewBatteries/ZZZGridPoint_75_-20_.bmp
ISPICINVERTEDXY -1