PIXELSPERMM 81.1
VERBOSITY 2
GRIDNAME GTGrid1
RWEIGHT 0.3
GWEIGHT 0.59
BWEIGHT 0.11
FFTNEGTHRESH -5000
FFTPOSTHRESH 5000
SHFBRIGHTTHRESH 10000000
SHFFIDUCIALFROMWALL 100	     
DBMINPTS 3
DBEPSILON 3.0
DUPLICATECLUSTDIST 1.5
DEBUGPLOTSFILENAME /Users/ryanlinehan/LZ_Local_Work/Grids/TestMicroscopePix/UV/TG15_UVLightScan/ZZZGridPoint_25_-10_.bmp
ISPICINVERTEDXY -1