/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_908.835_-483.59625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_908.835_-488.55625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_908.835_-493.51625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_908.835_-498.47625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_908.835_-503.43625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_913.795_-478.63625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_913.795_-483.59625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_913.795_-488.55625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_913.795_-493.51625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_913.795_-498.47625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_913.795_-503.43625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_913.795_-508.39625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_913.795_-513.35625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_918.755_-473.67625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_918.755_-478.63625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_918.755_-483.59625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_918.755_-488.55625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_918.755_-493.51625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_918.755_-498.47625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_918.755_-503.43625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_918.755_-508.39625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_918.755_-513.35625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_918.755_-518.31625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_923.715_-468.71625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_923.715_-473.67625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_923.715_-478.63625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_923.715_-483.59625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_923.715_-493.51625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_923.715_-498.47625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_923.715_-508.39625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_923.715_-513.35625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_923.715_-518.31625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_923.715_-523.27625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_928.675_-468.71625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_928.675_-473.67625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_928.675_-478.63625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_928.675_-483.59625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_928.675_-488.55625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_928.675_-493.51625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_928.675_-498.47625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_928.675_-503.43625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_928.675_-508.39625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_928.675_-513.35625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_928.675_-518.31625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_928.675_-523.27625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_933.635_-463.75625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_933.635_-468.71625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_933.635_-473.67625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_933.635_-478.63625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_933.635_-483.59625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_933.635_-488.55625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_933.635_-493.51625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_933.635_-498.47625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_933.635_-503.43625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_933.635_-508.39625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_933.635_-513.35625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_933.635_-518.31625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_933.635_-523.27625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_938.595_-463.75625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_938.595_-468.71625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_938.595_-478.63625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_938.595_-483.59625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_938.595_-488.55625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_938.595_-493.51625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_938.595_-498.47625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_938.595_-503.43625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_938.595_-508.39625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_938.595_-513.35625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_938.595_-518.31625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_938.595_-523.27625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_943.555_-463.75625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_943.555_-468.71625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_943.555_-473.67625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_943.555_-478.63625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_943.555_-483.59625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_943.555_-488.55625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_943.555_-493.51625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_943.555_-498.47625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_943.555_-503.43625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_943.555_-508.39625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_943.555_-513.35625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_943.555_-518.31625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_943.555_-523.27625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_948.515_-468.71625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_948.515_-473.67625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_948.515_-478.63625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_948.515_-483.59625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_948.515_-488.55625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_948.515_-493.51625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_948.515_-498.47625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_948.515_-503.43625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_948.515_-508.39625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_948.515_-513.35625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_948.515_-518.31625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_948.515_-523.27625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_953.475_-468.71625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_953.475_-473.67625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_953.475_-478.63625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_953.475_-483.59625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_953.475_-488.55625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_953.475_-493.51625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_953.475_-498.47625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_953.475_-503.43625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_953.475_-508.39625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_953.475_-513.35625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_953.475_-518.31625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_958.435_-473.67625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_958.435_-478.63625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_958.435_-483.59625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_958.435_-488.55625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_958.435_-493.51625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_958.435_-498.47625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_958.435_-503.43625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_958.435_-508.39625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_958.435_-513.35625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_958.435_-518.31625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_963.395_-478.63625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_963.395_-483.59625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_963.395_-488.55625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_963.395_-493.51625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_963.395_-498.47625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_963.395_-503.43625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_963.395_-508.39625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_963.395_-513.35625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_968.355_-488.55625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_968.355_-493.51625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_923.715_-503.43625_.bmp
/Users/ryanlinehan/Downloads/MicroscopeTestRun_958PM_4_2_2018/GridPoint_923.715_-488.55625_.bmp